/**
 * Table of contents
 * -----------------------------------
 * 1.0 - Typography
 * 2.0 - Structure
 * 3.0 - Navbar and header area
 * 4.0 - Form Elements
 * 5.0 - Miscellaneous helper classes
 * 6.0 - Responsive styles 
 * -----------------------------------
 */

/**
 * 1.0 Typography
 * --------------
 */

html {
	font-size: 87.5%;
}

body {
	font-size: 1em;
	line-height: 1.5;
	color: #444;
	background: #fff;
	font-family: "Lato", sans-serif;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
	font-family: inherit;
	color: inherit;
	margin: 0;
}

.text-large {
	font-size: 48px;
	line-height: 1.09375;
	margin-bottom: .21875em;
}

h1,
.text-xxl {
	font-size: 42px;
	line-height: 1.25;
	margin-bottom: .5em;
}

h2,
.text-xl {
	font-size: 36px;
	line-height: 1.1667;
	margin-bottom: .58334em;
}

h3,
.text-l {
	font-size: 30px;
	line-height: 1.4;
	margin-bottom: .7em;
}

h4,
.text-m {
	font-size: 24px;
	line-height: 1.3125;
	margin-bottom: .875em;
}

h5,
.text-s {
	font-size: 18px;
	line-height: 1.75;
	margin-bottom: 1.1667em;
}

h6 {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 1.3125em;
}

.text-xs {
	font-size: 14px;
}

small,
.text-xsm {
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 1.75em;
}

.light-headings h1,
.light-headings h2,
.light-headings h3,
.light-headings h4,
.light-headings h5,
.light-headings h6 {
	font-weight: 300;
}

p,
ul,
ol {
	margin: 0 0 1.5em;
}

ul,
ol {
	padding-left: inherit;
}

/* Links */
a {
	color: #5599cc;
}

a:hover {
	color: #5599cc;
	text-decoration: underline;
}

img {
	width: auto;
	max-width: 100%;
}

hr {
	border-color: #e0e0e0;
	border-color: rgba(0, 0, 0, .1);
	margin: 1em 0;
}

/* Helper and utility classes */

.text-uppercase {
	text-transform: uppercase;
}

.text-underline {
	border-bottom: 1px dotted;
	border-color: inherit;
}

.text-highlight {
	color: #EF314B;
	text-shadow: none;
}

.text-inverted {
	background: #EF314B;
	color: #fff;
	text-shadow: none;
}

.text-muted {
	color: rgba(0, 0, 0, .4);
}

.section-inverse .text-muted {
	color: rgba(255, 255, 255, .5);
}

.text-indented {
	letter-spacing: 3px;
}

.font-light {
	font-weight: 300;
}

.font-medium {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

.font-lato {
	font-family: "Lato", sans-serif;
}

.font-opensans {
	font-family: "Open Sans", sans-serif;
}

.font-default {
	font-family: sans-serif;
}

.font-serif {
	font-family: "Georgia", serif;
}

.has-bottom {
	margin-bottom: 21px !important;
}

.double-bottom {
	margin-bottom: 42px !important;
}

.half-bottom {
	margin-bottom: 10px !important;
}

.no-bottom {
	margin-bottom: 0 !important;
}

.flush-bottom {
	padding-bottom: 0 !important;
}

.flush-top {
	padding-top: 0 !important;
}

.bar-center:after,
.bar-left:after,
.bar-right:after,
.dbar-center:after,
.dbar-left:after,
.dbar-right:after {
	content: "";
	display: block;
	position: relative;
	margin: 19px auto 0;
	width: 20%;
	max-width: 120px;
	border-bottom: 2px solid #EF314B;
}

.dbar-center:after,
.dbar-left:after,
.dbar-right:after {
	margin-top: 17px;
	border-bottom: 4px double #EF314B;
}

.bar-left:after,
.dbar-left:after {
	margin-left: 0;
}

.bar-right:after,
.dbar-right:after {
	margin-right: 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: .75em;
	line-height: 1.5;
	border-top: 1px solid #e0e0e0;
}

.table > thead > tr > th {
	border-bottom: 1px solid #e0e0e0;
}

.table-bordered {
	border: 1px solid #e0e0e0;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

/**
 * 2.0 Structure
 * -------------
 */

/* Boxed layout */

.boxed #page,
.boxed .navbar-fixed-top {
	width: 96%;
	max-width: 1020px;
	margin: 0 auto;
}

.wide.boxed #page,
.wide.boxed .navbar-fixed-top {
	width: 96%;
	max-width: 1220px;
}

.boxed {
	background: #e5e5e5;
}

.boxed #page {
	position: static;
	overflow: hidden;
	margin: 3% auto;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.boxed.fixed-nav #page {
	margin: 0 auto;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.boxed .section,
.boxed .section.parallax .color-overlay {
	padding: 3.75em 0 2.25em;
}

.boxed.fixed-nav #hero.section {
	padding: 8em 0 1.5em;
}

.boxed.fixed-nav.enable-sticky-nav #hero.section {
	padding: 9.5em 0 1.5em;
}

.boxed.fixed-nav #page-header.section {
	padding: 6.5em 0 1.5em;
}

.boxed.fixed-nav.enable-sticky-nav #page-header.section {
	padding: 8em 0 1.5em;
}

#secondary,
#footer {
	color: #666;
	font-size: .85714em;
}

#secondary {
	padding: 3.5em 0 2em;
}

#secondary h3,
#secondary h4 {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: .8333em;
	color: #333;
}

#footer {
	padding: 1.5em 0 .75em;
	border-bottom: none;
}

.notes-left,
.notes-right {
	margin-bottom: .75em;
}

#footer a {
	color: #333;
}

#footer a:hover {
	color: #EF314B;
}

/* Section areas */
.section {
	background: #fff;
}

.section,
.section.parallax .color-overlay {
	padding: 4.5em 0 3em;
}

.fixed-nav #hero.section,
.fixed-nav #hero.section.parallax .color-overlay {
	padding: 8.25em 0 3em;
}

.enable-sticky-nav #hero.section,
.enable-sticky-nav #hero.section.parallax .color-overlay {
	padding: 11.5em 0 3em;
}

.fixed-nav #page-header.section,
.fixed-nav #page-header.section.parallax .color-overlay {
	padding: 6.75em 0 1.5em;
}

.enable-sticky-nav #page-header.section,
.enable-sticky-nav #page-header.section.parallax .color-overlay {
	padding: 10em 0 1.5em;
}

.section.parallax,
.no-padding {
	padding: 0 !important;
}

.has-padding {
	padding: 4.5em 15px 3em;
}

.section-alt {
	background: #f5f5f5;
}

.section-inverse {
	background: #222;
	color: #fff;
}

.section-inverse h1,
.section-inverse h2,
.section-inverse h3,
.section-inverse h4,
.section-inverse h5 {
	color: #fff;
}

.bordered {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.parallax {
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 0;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.parallax-1 {
	background-image: url(../images/user/parallax1.jpg);
}

.parallax-2 {
	background-image: url(../images/user/parallax2.jpg);
}

.parallax-3 {
	background-image: url(../images/user/parallax3.jpg);
}

.parallax-4 {
	background-image: url(../images/user/parallax4.jpg);
}

.parallax-7 {
	background-image: url(../images/user/parallax7.jpg);
}

.color-overlay.dark {
	background: rgba(0, 0, 0, .75);
}

.color-overlay.light {
	background: rgba(255, 255, 255, .75);
}

/**
 * 3.0 Navbar and header area
 * --------------------------
 */

.navbar,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar {
	border: none;
	margin-bottom: 0;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}

.navbar-inverse {
	background: #000;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.enable-sticky-nav .navbar {
	background: transparent;
	padding: 1.5em 0;
	box-shadow: none;
}

.enable-sticky-nav .navbar.nav-sticky {
	background: #fff;
	padding: 0;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
}

.enable-sticky-nav .navbar-inverse.nav-sticky {
	background: #000;
}

.navbar-nav {
	margin: 0 -15px;
}

.navbar-default {
	background: #fff;
}

.boxed .navbar-fixed-top {
	left: auto;
	right: auto;
}

.navbar-brand,
.navbar-default .navbar-brand {
	padding: 15px;
	font-size: 30px;
	line-height: 1;
	color: #333;
	height: auto;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-brand img {
	display: block;
	max-height: 30px;
}

.navbar-toggle {
	border: 1px solid rgba(0, 0, 0, .2);
	margin: 13px 15px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover {
	border-color: rgba(0, 0, 0, .15);
}

.navbar-default .navbar-toggle.collapsed {
	border-color: rgba(0, 0, 0, .3);
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
	background: rgba(0, 0, 0, .2);
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
	background: rgba(0, 0, 0, .4);
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover {
	border-color: rgba(255, 255, 255, .4);
}

.navbar-inverse .navbar-toggle.collapsed {
	border-color: rgba(255, 255, 255, .75);
}

.navbar-inverse .navbar-toggle .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background: rgba(255, 255, 255, .4);
}

.navbar-inverse .navbar-toggle.collapsed .icon-bar {
	background: rgba(255, 255, 255, .75);
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-top-color: rgba(0, 0, 0, .1);
}

/* Right side content area in navbar */

.nav-inner {
	position: relative;
	overflow: hidden;
	padding: 15px 0;
}

.header-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-list li {
	float: left;
	margin: 0 20px 0 0;
	position: relative;
	overflow: hidden;
	line-height: 30px;
}

.header-list > li:last-child {
	margin-right: 0;
}

.navbar-right .ss-social li a {
	margin-bottom: 0;
}

.navbar-nav > li > a {
	font-size: 14px;
	padding: 15px;
	line-height: 30px;
	font-weight: bold;
	font-weight: normal;
	-webkit-transition: all .3s ease-in-out;
	transition: all .1s ease-in-out;
}

.navbar-default .navbar-nav >li > a {
	color: #666;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #333;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #fff;
}

.navbar-inverse,
.navbar-inverse .navbar-nav > li > a {
	color: #ccc;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #EF314B;
	background: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background: #EF314B;
	color: #fff;
}



/**
 * 4.0 Form Elements
 * -----------------
 */

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: 0;
}

.label {
	font-weight: normal;
}

.form-group {
	position: relative;
	margin-bottom: 1em;
}

input,
button,
textarea,
.form-control,
.btn {
	font-family: inherit;
	line-height: 1.5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.btn.text-s,
.btn.text-m,
.btn.text-l {
	margin-bottom: 0;
}

label {
	margin-bottom: .375em;
}

.checkbox {
	margin: 0 0 1em;
}

.submit-row {
	padding-top: .5em;
	margin-bottom: 0;
}

.form-control {
	height: auto;
	padding: .375em .5em;
	font-size: 1em;
	line-height: 1.5;
	min-height: 33px; /* Firefox line-height bug fix */
	color: #555;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, .15);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

select.form-control {
	padding: .375em .25em;
}

.form-control:focus {
	border-color: rgba(0, 0, 0, .3);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.register-form {
	margin-bottom: 1.5em;
	padding: 1.5em;
	background: rgba(255, 255, 255, .5);
	border-radius: 4px;
}

.register-form.single-row {
	padding-bottom: 0;
}

.section-inverse .register-form {
	background: rgba(0, 0, 0, .5);
	color: #fff;
}

.register-form.alt,
.section-inverse .register-form.alt {
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
}

.section-inverse .register-form.alt {
	background: rgba(0, 0, 0, .12);
}

.register-form input {
	transition: all .2s ease 0s;
}

.register-form .help-block {
	margin: 0;
	font-size: 12px;
	line-height: 1.5;
	color: #666;
}

.register-form hr {
	margin: 1.5em 0 1em;
}

label.error {
	color: #f33;
	font-size: 13px;
	position: absolute;
	right: 0;
	max-width: inherit;
	text-align: right;
}

.checkbox label.error {
	font-weight: bold;
	bottom: -1.5em;
}

[class^="col-"] > label.error,
[class*="col-"] > label.error {
	right: 15px;
}

input.error {
	border-color: #f33;
}

.section-inverse .help-block {
	color: #ccc;
}

.section-inverse .register-form a,
.section-inverse .register-form a:hover,
.section-inverse .help-block a,
.section-inverse .help-block a:hover {
	color: #fff;
}

.section-inverse .register-form hr {
	border-color: rgba(255, 255, 255, .2);
}

.error-box,
.success-box {
	position: relative;
	margin-bottom: 1.5em;
	padding: .75em 21px .75em 42px;
	text-shadow: none;
	border-radius: 4px;
	background: transparent;
	text-align: left;
}

.error-box {
	border: 1px solid #f33;
	color: #f33;
}

.success-box {
	border: 1px solid #4a4;
	color: #4a4;
}

.result .icon {
	font-size: 1.5em;
	position: absolute;
	left: 12px;
}

/* Bubble style heading */
.cta-header {
	position: relative;
	padding: 18px 21px;
	background: #fc4;
	border-radius: 4px 4px 0 0;
	text-shadow: none;
}

.cta-header h3 {
	color: #000;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}

.cta-header:after {
	content:"";
	position: absolute;
	left: 21px;
	bottom: -20px;
	border: 10px solid transparent;
	border-top-color: #fc4;
	z-index: 99;
}

/* Buttons */

.btn,
.btn:focus,
.btn.active:focus {
	border: none;
	outline: none;
	outline: 0px;
	outline-offset: 0px;
}

.btn-default {
	background: rgba(0, 0, 0, .05);
}

.btn:hover {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
	background-image: linear-gradient(to top, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
}

.btn:active {
	color: rgba(255, 255, 255, .75);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
	background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.btn-main,
.btn-main:hover,
.btn-main:active,
.btn-main:focus {
	color: #fff;
	background-color: #EF314B;
}

.btn-alt,
.btn-alt:hover,
.btn-alt:active,
.btn-alt:focus {
	color: #fff;
	background-color: #37c;
}

.btn-main:active,
.btn-alt:active {
	color: rgba(255, 255, 255, .75);
}

.btn {
	padding: .4166em 1em;
}

.btn-xs {
	padding: .125em .5em;
}

.btn-lg,
.btn-group-lg >.btn,
.input-lg {
	font-size: 18px;
	min-height: 42px;
}

.btn-xl {
	font-size: 24px;
}

.input-lg {
	padding: .3611em .5em;
}

.btn-lg.btn-line,
.btn-lg.btn-line-inverse {
	background: none;
	padding: .3611em 1em;
}

.btn-line,
.btn-line:active,
.btn-line:focus {
	background: transparent;
	color: #666;
	border: 1px solid #ccc;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

.btn-line:hover {
	background-image: none;
	border-color: #999;
	color: #333;
}

.btn-line:active {
	color: #999;
	border-color: #ccc;
}

.btn-line-inverse,
.btn-line-inverse:active,
.btn-line-inverse:focus {
	color: #ccc;
	border: 1px solid #ccc;
}

.btn-line-inverse:hover {
	background: none;
	color: #fff;
	border-color: #fff;
}

.btn-line-inverse:active {
	color: #999;
	border-color: #999;
}

/**
 * 5.0 Miscellaneous helper classes
 * --------------------------------
 */
 
/* Testimonials Slider */

#owl-testimonials {
	padding-top: 1.5em;
}

.testimonial-item {
	margin-bottom: 1.5em;
}

.testimonial-item blockquote {
	position: relative;
	margin: 0 auto 21px;
	padding: 21px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 1.5;
	border: none;
	background: rgba(0, 0, 0, .04);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.testimonial-item blockquote:after {
	content: "";
	position: absolute;
	left: 45%;
	bottom: -20px;
	border: 10px solid transparent;
	border-top-color: rgba(0, 0, 0, .04);
	border-left-color: rgba(0, 0, 0, .04);
}

.author-card {
	position: relative;
	margin: 0 auto;
}

.author-details {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
}

.author-avatar {
	display: inline-block;
	margin-right: 10px;
	width: 80px;
	height: 80px;
	vertical-align: baseline;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.author-name {
	font-size: 18px;
	line-height: 1.5;
}

.testimonial-content {
	display: block;
	margin-left: 100px;
}

/* Owl Carousel */

.owl-carousel {
	position: relative;
	z-index: 10;
}

.carousel-only .item {
	margin: 0 15px 21px;
}

/* Feature list and icons */

.feature-list {
	position: relative;
}

.feature-list .col-md-4 {
	position: relative;
	overflow: hidden;
	margin-top: 1.5em;
}

/* Fontaswesome icons */

.feature-list .fa {
	float: left;
	width: 52px;
	height: 52px;
	text-align: center;
	font-size: 30px;
	line-height: 52px;
	background: #EF314B;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Simple Line icons */

.feature-list .icon {
	float: left;
	text-align: center;
	font-size: 52px;
	line-height: 1;
	color: #EF314B;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.feature-container h3,
.feature-container h4 {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: .291666em;
}

.feature-details {
	margin-left: 72px;
}

/* Lists */

.link-list-x,
.link-list-y {
	margin: 0;
	padding: 0;
	list-style: none;
}

.link-list-x a,
.link-list-y a {
	color: inherit;
	text-decoration: none;
}

.link-list-x a:hover,
.link-list-y a:hover {
	color: #EF314B;
}

.link-list-y {
	margin-bottom: 1.5em;
}

.link-list-x li {
	display: inline;
	margin-right: 5px;
	padding-right: 5px;
	border-right: 1px solid #e5e5e5;
}

.link-list-x li:last-child {
	border: none;
	padding: 0;
	margin: 0;
}

.link-list-y li {
	padding: .5em 0;
	border-bottom: 1px solid #e5e5e5;
	border-color: rgba(0, 0, 0, .1);
}

.link-list-y li:first-child {
	padding-top: 0;
}

.check-list {
	margin: 0 0 1.5em;
	padding: 0;
	list-style: none;
}

.check-list li {
	margin-left: 1.5em;
}

.check-list li:before {
	content: "\f00c";
	margin: 0 7px 0 -1.5em;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Round corner images */

.rounded-4px {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.rounded-4px-top {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.rounded-4px-bottom {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

/* Scroll top button */

.scroll-to-top {
	position:fixed;
	text-align: center;
	line-height: 10px;
	right: 20px;
	bottom: 20px;
	z-index: 9999;
}

.scroll-to-top a {
	color: #fff;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #000;
	outline: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.scroll-to-top a:hover {
	background: #EF314B;
}

/* Pricing Grids */

.pricing-grid {
	position: relative;
	overflow: hidden;
	margin: 0 0 1.5em;
	background: #fff;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.price,
.pricing-header,
.pricing-content {
	margin: 0;
	padding: 21px;
}

.pricing-header {
	font-size: 18px;
	line-height: 1.5;
	background: #f2f2f2;
	color: #000;
	padding: 14px 21px;
	border: 1px solid #e0e0e0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.best-plan .pricing-header {
	background: #222;
	color: #fff;
}

.economy-plan .pricing-header {
	background: #3cb371;
	color: #fff;
}

.premium-plan .pricing-header {
	background: #36c;
	color: #fff;
}

.pricing-header .label {
	line-height: 27px;
	float: right;
	padding: 0 .5em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.pricing-header .label-info {
	background: #36c;
}

.pricing-header .label-warning {
	background: #f93;
}

.price {
	border-bottom: 1px solid #e5e5e5;
	border-color: rgba(0, 0, 0, .1);
}

.pricing-content {
	padding-bottom: 0;
}

.pricing-content .link-list-y {
	margin: 0 -21px 1.5em;
}

.pricing-content .link-list-y li {
	padding: .5em 21px;
}

/* Social icons list */

.ss-social {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

#secondary .ss-social {
	margin-bottom: 1.5em;
}

.ss-social li {
	float: left;
	display: inline-block;
	margin: 0;
	line-height: 0;
}

.ss-social li a {
	display: inline-block;
	width: 1.58em;
	height: 1.58em;
	margin: 0 .25em .25em 0;
	font-size: 1.36em;
	line-height: 1.58;
	background: #b3b3b3;
	background: rgba(0, 0, 0, .3);
	color: #fff;
	text-align: center;
	-webkit-border-radius: .12em;
	-moz-border-radius: .12em;
	border-radius: .12em;
}

.navbar-inverse .ss-social li a {
	background: rgba(255, 255, 255, .25);
	color: rgba(255, 255, 255, .75);
}

.ss-social li a:hover {
	background: #333;
	color: #fff;
}

.ss-social li a.twitter:hover {
	background: #33ccff;
}

.ss-social li a.facebook:hover {
	background: #3c5a98;
}

.ss-social li a.linkedin:hover {
	background: #007fb1;
}

.ss-social li a.gplus:hover {
	background: #dd4c39;
}

.ss-social li a.deviantart:hover {
	background: #5a6d65;
}

.ss-social li a.delicious:hover {
	background: #003399;
}

.ss-social li a.yahoo:hover {
	background: #990099;
}

.ss-social li a.vimeo:hover {
	background: #33ccff;
}

.ss-social li a.pinterest:hover {
	background: #cc3333;
}

.ss-social li a.youtube:hover {
	background: #cc3333;
}

.ss-social li a.dribbble:hover {
	background: #ea4c89;
}

.ss-social li a.skype:hover {
	background: #00aff0;
}

.ss-social li a.github:hover {
	background: #666;
}

.ss-social li a.trello:hover {
	background: #266c95;
}

.ss-social li a.vk:hover {
	background: #45688e;
}

.ss-social li a.xing:hover {
	background: #026466;
}

.ss-social li a.tumblr:hover {
	background: #2c4762;
}

.ss-social li a.mail:hover {
	background: #ff6600;
}

.ss-social li a.instagram:hover {
	background: #336699;
}

.ss-social li a.soundcloud:hover {
	background: #ff3300;
}

.ss-social li a.vine:hover {
	background: #00bf8f;
}

.ss-social li a.twitch:hover {
	background: #6441a5;
}

.ss-social li a.yelp:hover {
	background: #c41200;
}

.ss-social li a.renren:hover {
	background: #005eac;
}

.ss-social li a.spotify:hover {
	background: #81b900;
}

.ss-social li a.weibo:hover {
	background: #e6162d;
}


/* Team profiles */

.member-item {
	margin-bottom: 1.5em;
}

.member-avatar {
	margin-bottom: .75em;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.member-name {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 0;
}

.member-desig {
	color: #999;
	margin-bottom: .75em;
}

.member-social li {
	float: none;
	display: inline-block;
	margin: 0;
	white-space: nowrap;
}

.member-social {
	font-size: 0;
}

.member-social li a {
	font-size: 16px;
	line-height: 24px;
	width: 24px;
	height: 24px;
	margin-right: 5px;
	border-radius: 2px;
}

/* Tabs */

.nav-tabs {
	border: none;
}

.nav-tabs>li {
	margin-bottom: 0;
}

.tabs-center {
	text-align: center;
}

.tabs-center > li {
	float: none;
	display: inline-block;
	text-align: left;
}

.nav-tabs > li > a {
	line-height: 1.5;
	border: none;
	border-radius: 0;
	margin-right: 2px;
	padding: .75em 1.5em;
	border-top: 2px solid transparent;
	border-bottom: 2px solid rgba(0, 0, 0, .07);
	background: rgba(0, 0, 0, .03);
	font-weight: bold;
	color: #666;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
}

.nav-tabs > li > a:hover {
	color: #333;
	background: rgba(0, 0, 0, .04);
	border-bottom-color: rgba(0, 0, 0, .15);
	border-top-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background: none;
	color: #000;
	border: none;
	border-top: 2px solid #EF314B;
	border-bottom-color: transparent;
}

.tab-content {
	padding: 1.5em 0 0;
}

/* Accordion */

.panel-title > a,
.panel-title > a.collapsed,
.tog-title,
.tog-title.collapsed {
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 1.5;
	font-weight: bold;
	background: rgba(0, 0, 0, .03);
	color: #666;
	cursor: pointer;
	padding: .75em 1.5em;
	border-left: 2px solid rgba(0, 0, 0, .07);
	margin: 0;
	text-decoration: none;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
}

.tog-title,
.tog-title:hover,
.panel-title > a,
.panel-title > a:hover {
	background: transparent;
	color: #333;
	border-left-color: #EF314B;
}

.tog-title.collapsed:hover,
.panel-title > a.collapsed:hover {
	color: #333;
	background: rgba(0, 0, 0, .04);
	border-left-color: rgba(0, 0, 0, .15);
}

.tog-title,
.tog-title.collapsed,
.panel-group .panel + .panel {
	margin-top: 3px;
}

.panel-body {
	padding: 1.5em;
}

.panel,
.panel-default >.panel-heading,
.panel-heading {
	color: inherit;
	background: none;
	border: none;
	padding: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top: none;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.no-rounded * {
	border-radius: 0 !important;
}

/* Fluid iframe and embed */

.embed-wrap {
	position: relative;
	overflow: hidden;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 2em;
	height: 0;
	margin-bottom: 1.5em;
}

.embed-wrap object,
.embed-wrap embed,
.embed-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.logo-grid {
	margin: 0 -10px;
}

.logo-grid > li {
	padding: 0 10px;
	margin-bottom: 21px;
}
	


/**
 * 6.0 Responsive styles
 * ---------------------
 */


/* Limit main container to 970px width
 * Use 1200px for wider layout
 */

.container {
	max-width: 970px;
}

.wide .container {
	max-width: 1200px;
}


@media (max-width: 991px) {
	*[class*="col-md"].has-padding {
		padding: 0 15px 1.5em;
	}
	
	*[class*="col-md"].alignleft,
	*[class*="col-md"].alignright {
		float: none;
	}
}

/* Devices less than 768px */

@media (max-width: 767px) {
	.navbar-nav > li > a {
		padding: .75em 15px;
		line-height: 1.5;
	}
	
	.enable-sticky-nav .navbar .navbar-collapse {
		background: #fff;
	}
	
	.enable-sticky-nav .navbar-inverse .navbar-collapse {
		background: rgba(0, 0, 0, .85);
	}
	
	.notes-left,
	.notes-right {
		float: none;
		text-align: center;
	}
	
	.pricing-grid {
		width: 100%;
		float: none;
		margin: 0 0 1.5em 0;
	}
	
	.section,
	.section.parallax .color-overlay {
		padding: 3em 0 1.5em;
	}
	
	.fixed-nav #hero.section,
	.fixed-nav #hero.section.parallax .color-overlay {
		padding: 6em 0 1.5em;
	}
	
	.enable-sticky-nav #hero.section,
	.enable-sticky-nav #hero.section.parallax .color-overlay {
		padding: 8em 0 1.5em;
	}
	
	.fixed-nav #page-header.section,
	.fixed-nav #page-header.section.parallax .color-overlay {
		padding: 6em 0 .75em;
	}
	
	.enable-sticky-nav #page-header.section,
	.enable-sticky-nav #page-header.section.parallax .color-overlay {
		padding: 8em 0 .75em;
	}
	
	*[class*="col-sm"].has-padding {
		padding: 0 15px 1.5em;
	}
	
	*[class*="col-sm"].alignleft,
	*[class*="col-sm"].alignright {
		float: none;
	}
}

/* Boxed layout widths for different devices */

@media (min-width: 768px) {
	.boxed #page,
	.boxed .navbar-fixed-top {
		width: 780px;
	}
}
@media (min-width: 992px) {
	.boxed #page,
	.boxed .navbar-fixed-top {
		width: 1020px;
	}
}
@media (min-width: 1200px) {
	.boxed #page,
	.boxed .navbar-fixed-top {
		width: 1020px;
	}
}

/* Preloader Animation */

.js-enabled #preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #fff;
}

.js-enabled #spinner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-right-color: #000;
	-webkit-animation: spin .75s linear infinite;
	animation: spin .75s linear infinite;
}

@-webkit-keyframes spin {
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes spin {
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes spin {
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}